body {
  --font-color: #212121;
  --background-color: #ffffff;
  --font-family: "Roboto", sans-serif;
  --brand-blue: #2196f3;
  --gray-color: #757575;
  --icon-color: #f5f4fa;
  --icon-fill: #afb1b8;
  --footer-babckground: #2f303a;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}
